.menu {
  position: fixed;
  width: 0;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  transform: translateX(100%);
  background-color: rgba(245, 245, 245, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: all 0.3s;
}

.menu:target {
  opacity: 1;
  width: 75%;
  transform: translateX(0);
}
.menu-button {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../../../images/menu.svg);
}

.menu-list {
  max-width: 100px;
  margin: 35px 0 0 40%;
}
.menu-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #404040;
}
.menu-cross {
  display: block;
  position: absolute;
  right: 0;
  bottom: 50%;
  padding-left: 70px;
  font-size: 14px;
  line-height: 18px;
  color: #404040;
  transform: rotate(-90deg);
}
.menu-cross::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 20px;
  width: 44px;
  height: 1px;
  background-color: #404040;
}
.menu-cross::after {
  top: 0;
  left: 5px;
  position: absolute;
  content: "x";
  font-family: "Inconsolata", monospace;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }

  .menu-button {
    display: none;
  }
}